* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

nav a {
    text-decoration: none;
    color:midnightblue;
}
  
nav {
    background-color:aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 30px;
    font-size: large;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul a:hover {
    color: navy;
    border-bottom: 2px solid currentColor;
}

nav ul a.active {
    border-bottom: 2px solid currentColor;
    color:navy;
    font-weight: bold;
}

#logo {
    color:midnightblue;
    font-weight: bold;
    font-size: xx-large;
}

.breadcrumb {
    text-align: center;
    margin: 30px 0;
    font-size: small;
}

.cards {
    margin: 20px 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 10px;
    padding: 0 30px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.posters,
.actors {
    width: 200px;
    margin: 0 auto;
}

.card>h2,
.card>img,
.card>h4 {
    margin-bottom: 10px;
}

.card>a,
.btn {
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: navy;
    border: none;
    color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 25px;
    font-size: large;
}

.card>a:hover,
.btn:hover {
    opacity: 1;
}

.card>a:active, 
.btn:active {
    transform: scale(0.98);
}

.btnContainer {
    background: rgba(0, 0, 0, 0.2) url(../imgs/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.summary {
    font-size: large;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.story {
    font-size: large;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline overline;
}

.filter {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.marginright {
    margin-right: 15px;
}


@media screen and (max-width: 950px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
    
}

@media screen and (max-width: 700px) {
    .cards { 
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 100%;
        align-items: center;
    }

    .posters {
        width: 300px;
    }
    
    .actors {
        width: 300px;
    }
}